.dashboard {
  font-family: Arial, sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 70px;
}

.chart-container {
  position: absolute;
  top: 700px;
  left: 250px;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin-top: auto;
  padding-left: 100px; /* Adjust this value as needed */
}

th,
td,
thead,
tr {
  border: 3px solid rgba(223, 220, 220, 0.785);
  padding: 15px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

h1,
h2 {
  margin-bottom: 10px;
}
