table {
  width: 70%;
  border-collapse: collapse;
  margin-top: auto;
  padding-left: 100px;
  max-height: fit-content;
  overflow-y: auto;
}

th,
td,
thead {
  border: 3px solid rgba(223, 220, 220, 0.785);
  padding: 15px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.container {
  display: flex;
}

.sidebar {
  width: 250px;
}

.content {
  flex: 1;
  padding: 20px;
}

.table-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

.table-section .table-container {
  max-height: 400px;
}

.add-btn {
  padding: 5px;
  width: fit-content;
  background-color: #292661;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.add-btn:hover {
  border: 2px solid #292661;
  background-color: transparent;
  color: #292661;
}
