* {
  font-family: "Karla", sans-serif;
}
nav {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: solid 2px #000;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 50px;
  margin-right: 10px;
}

nav span {
  color: #2a5f9c;
  font-size: 24px;
  font-weight: 1000;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 30px;
  color: #000;
  font-weight: bold;
}
nav li:hover {
  margin-right: 30px;
  color: #636262;
  cursor: pointer;
}
nav button {
  background-color: #083f77;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  width: 169px;
  height: 38px;
}

.lognbtn {
  background-color: #083f77;
}

.signbtn {
  background-color: #585858;
}
.lognbtn:hover {
  background-color: #062a4f;
}

.signbtn:hover {
  background-color: #393838;
}

.searchInput {
  width: 400px;
  height: 36px;
}
.search-container {
  position: relative;
}

.searchInput {
  border: solid #393838 2px;
  border-radius: 5px;
  padding: 5px;
  padding-right: 30px;
  margin-right: 20px;
}

.searchInput::placeholder {
  color: #ccc;
}
.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal button {
  margin-bottom: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.projects {
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  margin-right: 20px;
  font-size: 25px;
}

.nav-link:hover {
  color: #605c5c;
  /* background-color: #605c5c;   */
}
.nav-linkitem:hover {
  color: #605c5c;
  background-color: #a29c9c;
}

.dropdownitm {
  font-size: 16px;
}
.nav-linkitem {
  text-decoration: none;
  font-size: 21px;
}
