.user-table {
  margin-top: -40px;
  margin-bottom: 50px;
  overflow-y: scroll;
  max-height: 650px;
  width: 80%;
}

.user-table table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.user-table th {
  background-color: #f2f2f2;
}

.user-table td {
  text-align: center;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.user-table .add-professor-btn {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid;
  background-color: rgb(8, 63, 119);
  color: #f2f2f2;
  border-radius: 25px;
}
.delete-btn:hover {
  background-color: #c82333;
}

.modal-container {
  background-color: #ddd;
  border: none;
}

.students-label {
  margin-right: 690px;
}

.admin-icon-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-icon-left {
  display: flex;
  align-items: center;
  margin-left: 45px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-img-left {
  width: 70px;
  height: 60px;
  margin-right: -500px;
  margin-top: 5px;
  padding-left: 400px;
}

.icon-img-right {
  width: 60px;
  height: 40px;
  margin-top: 5px;
}

.icon-info-left {
  margin-left: 530px;
  margin-top: 35px;
}

.icon-info-right {
  margin-left: 10px;
  margin-bottom: 90px;
}

.admin-icon p {
  color: #333;
  font-size: 16px;
  margin-top: 5px;
}

.badge {
  background-color: #dc3545;
  color: #fff;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 12px;
  margin-left: -20px;
}

.badgee {
  background-color: #dc3545;
  color: #fff;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 12px;
  margin-right: 500px;
  position: relative;
  top: 130px;
}

.current {
  margin-left: -20px;
}

.deleted {
  margin-right: 500px;
  padding-top: 50px;
  margin-top: 95px;
}

.admin-icon-left {
  margin-right: auto;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
