/* src/components/ProjectsCard.css */

.project-card {
  border-left: 10px solid #2a5f9c;
  border-radius: 23px;
  padding: 25px;
  margin: 10px;
  width: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 900px;
  text-align: left;
  font-family: "Karla", sans-serif;
  background-color: #fff;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.project-card img {
  max-width: 100%;
  height: auto;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
}

.github-logo:hover {
  color: #2a5f9c;
}
.cardTitle:hover {
  cursor: pointer;
  color: rgb(172, 187, 212);
}
.cardTitle {
  text-decoration: none;
  color: black;
}
.title {
  text-decoration: none;
  color: black;
}
