.tab-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 500px;
  margin-top: 20px;
  /* background-image: url('../assets/b.jpg'); */
  background-size: cover;
}
.input-container .passwords-mismatch {
  border: 2px solid red; /* Example style for indicating password mismatch */
}
.profile-tab {
  padding: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.email-inputs input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.tab-container .save-btn {
  padding: 10px 20px;
  width: fit-content;
  background-color: #292661;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.tab-container .save-btn:hover {
  border: 3px solid #292661;
  background-color: transparent;
  color: #292661;
}
.Toastify__toast-body > div:last-child {
  word-break: unset;
}

/* Custom CSS for the toast messages */
/* Custom CSS for the toast messages */
